{% extends 'base.html' %}

{% load static%}

{% block content %}

      <section>
         <div id="head">
            <div class="line">
               <h1>About Us</h1>
               <h1>WHAT WE DO</h1>
            </div>
         </div>
         <div id="content">
            <div class="line">     
               <h2><b>WHY SELECT US</b></h2>
               <h3>INNOVATIVE SOLUTIONS FROM THE EXPERTS</h3>
                   <h2><b>SATISFACTION & TRUST</b></h2>
                   <p class="s-12 m-12 l-8 center" style="color:#400000 ">
                     Satisfaction & Trust of the client is most important for us, First we understand the
                     requirement, we research on its possibilities and offer the best innovative solution to you at
                     your budget.
                   </p>
                  <h2><b>QUALITY & INNOVATION</b></h2>
                   <p class="s-12 m-12 l-8 center" style="color:#400000 ">
                     At Packtronic ,we promise hundred percent quality by continuous improvement of our
                     ecological solutions & product standards, Our special Innovation cell perform the factory trial
                     at full fledge before we dispatch our equipments .
                   </p>
                  <h2><b>TECHNOLOGICAL EXCELLENCE</b></h2>
                   <p class="s-12 m-12 l-8 center" style="color:#400000 ">
                     We thanks to our principles ,at Packtronic we keep the pace of technological excellence to
                     offer the best solution to our customers with International business Associates.
                   </p>
                  <h2><b>24*7 SUPPORT</b></h2>
                   <p class="s-12 m-12 l-8 center" style="color:#400000 ">
                     We have 24*7 Quick action team to support with you by Online and technical intervention at
                     site.
                   </p>
            </div>
         </div>
      
         <!-- GALLERY --> 	
         <div id="third-block">
            <div class="line">
               <h2><strong>OUR TEAM</strong></h2>
               <p class="subtitile"><strong>A Professionally managed company with a pool of self 
                              motivated experts as the core team. Dedicated and highly qualified engineers as 
                              operational team and committed skilled techno-crafts as managers as corporate team 
                              ensured the efficient implementation and execution. Several international associations 
                              enhanced the strength of the team to world class technologies. Ability to serve the industry 
                              with innovative Primary & Secondary Packaging solutions. Unique combination of these teams 
                              together forms the enthusiastic team Packtronic.</strong>
               </p>
               <p class="subtitile"><strong>
                           We have a very strong technical team which have minimum 8 years to Max 33 years
                           rich experience in Packaging & Automation Technologies.
                           Average experience of the team is 20 years in Packaging systems.
                           Team Members are having vast hands on experience on Design, Production, assembly
                           and servicing of FFS, Collor type FFS, MultiTrack machine, Rotary FFS machine,
                           Flow wrapping machine, Conveyor technologies, Industrial automation, & Robotics.
               
               </strong></p>
               <div class="margin">
                  <div class="s-12 m-6 l-3">
                     <img src="{% static 'img/man.png' %}" class="rounded-circle"  width="304" height="236" alt="alternative text">      
                     <br>
                     <p class="subtitile"><strong>Dr.Yogendar Kumar(Founder & CEO)</strong>
                     </p>
                  </div>
                  
                  <div class="s-12 m-6 l-3">
                     <img src="{% static 'img/user.png' %}" class="rounded-circle"  width="304" height="236" alt="alternative text">      
                     <br>
                     <p class="subtitile"><strong>Anirudh Pal(Manager BD)</strong>
                     </p>
                  </div>
                  
                  <div class="s-12 m-6 l-3">
                     <img src="{% static 'img/man.png' %}" class="rounded-circle"  width="304" height="236"  alt="alternative text">      
                     
                     <br><p class="subtitile"><strong>Navazish Ansari Design Head</strong>
                     </p>
                  </div>
                  
                  <div class="s-12 m-6 l-3">
                     <img src="{% static 'img/image2.jpg' %}" class="rounded-circle"  width="304" height="236" alt="alternative text">      
                     <br>
                     <p class="subtitile"><strong>Anuj Thakur(Manager Automation)</strong>
                     </p>
                  </div>
      
      
               </div>
            </div>
         </div>
      </section>

      {% endblock %}
      