{% extends 'base.html' %}

{% load static%}

{% block content %}

      <section>
         <div id="head">
            <div class="line">
               <h1>About Us</h1>
               <h1>WHAT WE DO</h1>
            </div>
         </div>
         <div id="content">
            <div class="line">
            <h2><b>PackTronic Packaging & Automation Pvt. Ltd.</b></h2>
               <p class="s-12 m-12 l-8 center" style="color:#400000; margin-top:20px; ">
               We are a Noida based manufacturer of  packaging and Automation systems secondary packaging solutions.
               We have 10 years of rich experience in packaging and Automation.
               We have a team of talented and committed people who works to their heart and soul to deliver the promise.
               Our total effort is to provide automated solutions for all your secondary packaging and process challenges to avoid the stressful manual work with simplified automated working environment.
               </p>
              
               <h2><b>Automation</b></h2>
              
               <p class="s-12 m-12 l-8 center" style="color:#400000; margin-top:20px; ">
               We have a state of the art work facility which uses most advance and cutting edge manufacturing processes to deliver the best quality product.
               As we promote automated and systemized way of working in production, we at our works use the data Science for all the company operations to serve our customers in a more organized way.
               We have a full fledged design studio with Solid Edge software to design and deliver the best solutions to our customers for their secondary packaging and automation process challenges.
               </p>
              
               <h2><b>WHY SELECT US</b></h2>
               <h3>INNOVATIVE SOLUTIONS FROM THE EXPERTS</h3>
                   <h2><b>SATISFACTION & TRUST</b></h2>
                   <p class="s-12 m-12 l-8 center" style="color:#400000 ">
                     Satisfaction & Trust of the client is most important for us, First we understand the
                     requirement, we research on its possibilities and offer the best innovative solution to you at
                     your budget.
                   </p>
                  <h2><b>QUALITY & INNOVATION</b></h2>
                   <p class="s-12 m-12 l-8 center" style="color:#400000 ">
                     At Packtronic ,we promise hundred percent quality by continuous improvement of our
                     ecological solutions & product standards, Our special Innovation cell perform the factory trial
                     at full fledge before we dispatch our equipments .
                   </p>
                  <h2><b>TECHNOLOGICAL EXCELLENCE</b></h2>
                   <p class="s-12 m-12 l-8 center" style="color:#400000 ">
                     We thanks to our principles ,at Packtronic we keep the pace of technological excellence to
                     offer the best solution to our customers with International business Associates.
                   </p>
                  <h2><b>24*7 SUPPORT</b></h2>
                   <p class="s-12 m-12 l-8 center" style="color:#400000 ">
                     We have 24*7 Quick action team to support with you by Online and technical intervention at
                     site.
                   </p>
                        <h2><b>PRIMARY PACKAGING</b></h2>
                           <h5 style="color:#400000 ">HIGH SPEED FFS</h5>
                           <h5 style="color:#400000 ">COLLOR TYPE FFS</h5>
                           <h5 style="color:#400000 ">FLOW WRAPPERS<h5>
                           <h5 style="color:#400000 ">MULTITRACK FFS</h5>
                           <h5 style="color:#400000 ">HORIZONTAL ROTARY FFS</h5>
                           <h5 style="color:#400000 ">LIQUID FILLING</h5>

                         <h2><b>SECONDERY PACKAGING</b></h2>
                           <h5 style="color:#400000 ">PICK & PLACE SYSTEM</h5>
                           <h5 style="color:#400000 ">ROBOTICS</h5>
                           <h5 style="color:#400000 ">CARTONING<h5>
                           <h5 style="color:#400000 ">PALLETIZING</h5>
                           <h5 style="color:#400000 ">CASE PACKERS</h5>
                           <h5 style="color:#400000 ">CHECK WEIGHERS</h5>
                           <h5 style="color:#400000 ">CARTON ERECTOR</h5>
                           <h5 style="color:#400000 ">WRAP AROUND<h5>
                           <h5 style="color:#400000 ">VISION GUIDED AUTOMATION</h5>
                           <h5 style="color:#400000 ">END OF LINE PACKAGING </h5>
                           <h5 style="color:#400000 ">SPECIAL PURPOSE CUSTOMISED SYSTEMS</h5>
                   
            </div>
         </div>
      
         <!-- GALLERY -->	
         <div id="third-block">
            <div class="line">
               <h2>PRIMARY & SECONDRY PACKAGING</h2>
               <div>
                  <div class="s-12 m-6 l-4">
                     <img src="{% static 'img/products/Primarypackaging/p1.jpeg' %}">      
                  </div>
                  
                  <div class="s-12 m-6 l-4">
                     <img src="{% static 'img/products/Primarypackaging/p3.jpg' %}">      
                  </div>
                  
                  <div class="s-12 m-6 l-4">
                     <img src="{% static 'img/products/Primarypackaging/p2.jpg' %}">      
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </section>

      {% endblock %}
      