{% extends 'base.html' %}

{% load static %}

{% block content %}
      
      <section>
         <div id="head">
            <div class="line">
               <h1>AUTOMATION PRODUCTS</h1>
            </div>
         </div>
         <div id="content">
            <div class="line">
               <div class="margin">
                   <div class="s-12 m-6 l-4">
                      <img src="{% static 'img/products/Primarypackaging/p9.jpg' %}">      
                      <p class="subtitile">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                      </p>
                   </div>
                   
                   <div class="s-12 m-6 l-4">
                      <img src="{% static 'img/products/Primarypackaging/p10.jpg' %}">      
                      <p class="subtitile">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                      </p>
                   </div>
                   
                   <div class="s-12 m-6 l-4">
                      <img src="{% static 'img/products/Primarypackaging/p11.png' %}">      
                      <p class="subtitile">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                      </p>
                   </div>
               </div>
            </div>
         </div>
      </section>

      {% endblock %}
      