

{% extends 'base.html' %}

{% load static %}

{% block content %}
      
      <section>
         <div id="head">
            <div class="line">
               <h1>AUTOMATION PRODUCTS</h1>
            </div>
         </div>
         <div id="content">
            <div class="line">
               <div class"margin">
                   
                   <div class="s-12 m-6 l-4">
                    <img src="{% static 'img/products/Primarypackaging/p9.jpg' %}">  
                      <h5 class="subtitile"><b><a href="/machine10">Robotic</a></b></h5>
                       <p class="subtitile" style="color:#400000 "><b>SinCos Pick and Place Gantry Robots can automate 
                        the movement of goods from one place to another, in any plane, reducing the process 
                        time while increasing throughput and productivity. 
                      </b></p>
                   </div>
                   
                   <div class="s-12 m-6 l-4">
                      <img src="{% static 'img/products/Primarypackaging/p10.jpg' %}"> 
                       <h5 class="subtitile"><b><a href="/machine10">Case Packer System-</a></b></h5>
                      </h5>
                       <p class="subtitile" style="color:#400000 "><b>It is a top speed top loading case-packing machine specifically 
                            designed to handle loose or bundled bottles. Machine suffices to market requirement of high 
                            speeds and low maintenance..
                      </b></p>
                   </div>
                   
                   <div class="s-12 m-6 l-4">
                      <img src="{% static 'img/products/Primarypackaging/p11.png' %}"> 
                      <h5 class="subtitile"><b><a href="/machine11">Cartoining System-</a></b></h5> 
                      </h5>
                       <p class="subtitile" style="color:#400000 "><b>We are the leading Manufacturer of Automatic Cartoning 
                      Machine and our product is made of good quality..
                      </b></p>
                   </div>
                   
               </div>
            </div>
         </div>

          <div id="content">
            <div class="line">
               <div class"margin">
                  
                  <div class="s-12 m-6 l-4">
                      <img src="{% static 'img/products/Primarypackaging/p12.jpg' %}">      
                      <h5 class="subtitile"><b><a href="/machine9">Vision Guided system</a></b></h5>
                      </h5>
                       <p class="subtitile" style="color:#400000 "><b>In a deflashing workcell, camera, lighting, and software 
                                          combine with four-axis robot to perform process what you want.
                      </b></p>
                  </div>

                  <div class="s-12 m-6 l-4">
                      <img src="{% static 'img/products/Primarypackaging/p13.jpg' %}">      
                      <h5 class="subtitile"><b><a href="/machine12">Wrap around system</a></b></h5>
                      </h5>
                       <p class="subtitile" style="color:#400000 "><b>Automatic wrap-around packing machine is widely used in food, 
                         daily and chemistry industries, such as milk powder, beer, beverage, instant noodle, detergent, 
                        boxed detergent powder, soap, etc
                      </b></p>
                   </div>

               </div>
            </div>
         </div>   
      
      </section>

      {% endblock %}
      