{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Product Item </title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/shop-item.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/components.css' %}">
      <link rel="stylesheet" href="{% static 'css/icons.css' %}">
      <link rel="stylesheet" href="{% static 'css/responsee.css' %}">
      <link rel="stylesheet" href="{% static 'css/template-style.css' %}"> 
    
      <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>   
      <script type="text/javascript" src="{% static 'js/responsee.js' %}"></script> 
      <script type="text/javascript" src="{% static 'owl-carousel/owl.carousel.js' %}"></script> 

</head>

<body class="size-1140">
    <!-- TOP NAV WITH LOGO -->        
      <header>
         <nav>
            <div class="line">
               <!-- Mobile version of logo -->
               <div class="logo logo-small">
                 <a href="/"><br /><strong></strong></a>
               </div>  
               
               <div class="top-nav">              
                  <div class="s-12 l-5">
                     <ul class="right top-ul chevron">
                        <li><a href="/">Home</a>
                        </li>
                        
                        <li><a>Product</a>
                           <ul>
                              <li>
                                  <a href="/primeryproduct">Primery Product</a>
                              </li>
                              
                              <li><a>secondery Product</a>
                                <ul>
                                   <li><a href="/seconderypickandplaceproduct">Pick and Place</a></li>
                                   <li><a href="/seconderyandoflineproduct">And Of Line</a></li>
                                </ul>
                              </li>
                           
                           </ul>
                        </li>
                        
                        <li><a href="/services">Service</a>
                        </li>
                     </ul>
                  </div>
                  <ul class="s-12 l-2">
                     <li class="logo hide-s hide-m">
                        <a href="/">BUILD <br /><strong>AUTOMATION</strong></a>
                     </li>
                  </ul>
                  <div class="s-12 l-5">
                     <ul class="top-ul chevron">
                        <li><a href="/about">About</a>
                        </li>
                        
                        <li>
                           <a>Company</a>			    
                           <ul>
                              <li><a>Company 1</a>
                              </li>
                              <li><a>Company 2</a>
                              </li>
                           </ul>
                        </li>
                        
                        <li><a href="/contact">Contact</a>
                        </li>
                     </ul> 
                  </div>
               </div>
            </div>
         </nav>
      </header>

{% block content %}

{% endblock %}


<!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
