{% extends 'base.html' %}

{% load static %}

{% block content %}
      
      <section>
         <!-- CAROUSEL -->  	
         <div id="carousel">
            <div id="header-carousel" class="owl-carousel owl-theme">
               
               <div class="item">
                  <img src="{% static 'img/c.jpg' %}" alt="">      
                  <div class="carousel-text">
                     <div class="line">
                        <div class="s-12 l-9">
                        <br><br><br>
                           <h2 style="text-transform:capitalize;"><b><marquee><i>Master in Automation & Packaging</i></marquee></b></h2>
                        </div>
                        <div class="s-12 l-9">
                           <p>
                              We at <strong style="color:#CB4335">SinCos</strong> not only the  manufacturers of primary packaging & 
                              secondary packaging solutions, 
                              but at SinCos we Automate all your working stuff. 
                              We are based in Noida,India . 
                              We believe in providing complete  automated  packaging systems that fulfill our 
                              clients  manufacturing & process requirements.
                              At SinCos, Our  team consists of committed and dedicated professionals
                              who strive smart to offer 
                              the best  solutions to our respected clients as per their requirement. 
                              Enhancing the manufacturing efficiency of our clients with our 
                              Start to End Automation solution is SinCos primary objective. . 
                              SinCos is known for its quality range of products helping its 
                              clients a great deal in the Automation & packaging.
                          </p>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="item">
                  <img src="{% static 'img/d.jpg' %}" alt="">      
                  <div class="carousel-text">
                     <div class="line">
                        <div class="s-6 l-9">
                        <br><br><br><br><br><br><br><br><br><br>
                           <h2 style="text-transform:capitalize;"><b><marquee><i>Master in Automation & Packaging</i></marquee></b></h2>
                        </div>
                        <div class="s-6 l-9">
                           <p>
                              We at <strong style="color:#CB4335">SinCos</strong> World class manufacturing facility & quality assurance. 
                           
                          </p>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="item">
                  <img src="{% static 'img/e.jpg' %}" alt="">      
                  <div class="carousel-text">
                     <div class="line">
                        <div class="s-12 l-9">
                        <br><br><br><br><br><br><br><br><br><br>
                           <h2 style="text-transform:capitalize;"><b><marquee><i>Master in Automation & Packaging</i></marquee></b></h2>
                        </div>
                        <div class="s-12 l-9">
                           <p>
                              We at <strong style="color:#CB4335">SinCos</strong>  Secondary packaging  with machine learning approach
                          </p>
                        </div>
                     </div>
                  </div>
               </div>

                <div class="item">
                  <img src="{% static 'img/f.jpg' %}" alt="">      
                  <div class="carousel-text">
                     <div class="line">
                        <div class="s-12 l-9">
                        <br><br><br><br><br><br><br><br><br><br>
                           <h2 style="text-transform:capitalize;"><b><marquee><i>Master in Automation & Packaging</i></marquee></b></h2>
                        </div>
                        <div class="s-12 l-9">
                           <p>
                              We at <strong style="color:#CB4335">SinCos</strong> In our team we have a perfect blend of creativity & technical wizardry partners. 
                           
                          </p>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="item">
                  <img src="{% static 'img/g.jpg' %}" alt="">      
                  <div class="carousel-text">
                     <div class="line">
                        <div class="s-12 l-9">
                        <br><br><br><br><br><br><br><br><br><br>
                           <h2 style="text-transform:capitalize;"><b><marquee><i>Master in Automation & Packaging</i></marquee></b></h2>
                        </div>
                        <div class="s-12 l-9">
                           <p>
                              We at <strong style="color:#CB4335">SinCos</strong> Because we know automation & artificial intelligence are the future. 
                           
                          </p>
                        </div>
                     </div>
                  </div>
               </div>

                <div class="item">
                  <img src="{% static 'img/h.jpg' %}" alt="">      
                  <div class="carousel-text">
                     <div class="line">
                        <div class="s-12 l-9">
                        <br><br><br><br><br><br><br><br><br><br>
                           <h2 style="text-transform:capitalize;"><b><marquee><i>Master in Automation & Packaging</i></marquee></b></h2>
                        </div>
                        <div class="s-12 l-9">
                           <p>
                              We at <strong style="color:#CB4335">SinCos</strong>Best in class robotics  pick & place solutions. 
                           
                          </p>
                        </div>
                     </div>
                  </div>
               </div>
            
            </div>
         </div>
         <!-- GALLERY --> 	
         <div id="third-block">
            <div class="line">
               <h2><strong>OUR TEAM</strong></h2>
               <p class="subtitile"><strong>A Professionally managed company with a pool of self 
                              motivated experts as the core team. Dedicated and highly qualified engineers as 
                              operational team and committed skilled techno-crafts as managers as corporate team 
                              ensured the efficient implementation and execution. Several international associations 
                              enhanced the strength of the team to world class technologies. Ability to serve the industry 
                              with innovative Primary & Secondary Packaging solutions. Unique combination of these teams 
                              together forms the enthusiastic team Packtronic.</strong>
               </p>
               <p class="subtitile"><strong>
                           We have a very strong technical team which have minimum 8 years to Max 33 years
                           rich experience in Packaging & Automation Technologies.
                           Average experience of the team is 20 years in Packaging systems.
                           Team Members are having vast hands on experience on Design, Production, assembly
                           and servicing of FFS, Collor type FFS, MultiTrack machine, Rotary FFS machine,
                           Flow wrapping machine, Conveyor technologies, Industrial automation, & Robotics.
               
               </strong></p>
               <div class="margin">
                  <div class="s-12 m-6 l-3">
                     <img src="{% static 'img/man.png' %}" class="rounded-circle"  width="304" height="236" alt="alternative text">      
                     <br>
                     <p class="subtitile"><strong>Dr.Yogendar Kumar(Founder & CEO)</strong>
                     </p>
                  </div>
                  
                  <div class="s-12 m-6 l-3">
                     <img src="{% static 'img/user.png' %}" class="rounded-circle"  width="304" height="236" alt="alternative text">      
                     <br>
                     <p class="subtitile"><strong>Anirudh Pal(Manager BD)</strong>
                     </p>
                  </div>
                  
                  <div class="s-12 m-6 l-3">
                     <img src="{% static 'img/man.png' %}" class="rounded-circle"  width="304" height="236"  alt="alternative text">      
                     
                     <br><p class="subtitile"><strong>Navazish Ansari Design Head</strong>
                     </p>
                  </div>
                  
                  <div class="s-12 m-6 l-3">
                     <img src="{% static 'img/image2.jpg' %}" class="rounded-circle"  width="304" height="236" alt="alternative text">      
                     <br>
                     <p class="subtitile"><strong>Anuj Thakur(Manager Automation)</strong>
                     </p>
                  </div>
      
               </div>
            </div>
         </div>
         <!-- FIRST BLOCK --> 	
         <div>
            <div class="line">
               <h2 style="text-align: center; color:#2C3E50"><b>Master in Automation & Packaging</b></h2>
               <p class="subtitile"><h3 style="text-align: center; color:white"><b>Welcome To SinCos</b></h3></p>
               <br>
               <div class="margin">
                  <div class="s-12 m-6 l-3 margin-bottom">
                     <i class="icon-sli-people icon2x"></i>
                     <h3 style="color:#2C3E50"><b>About Us</b></h3>
                     <p style="color:white;font-size:100%;">We have a full fledged design studio with Solid Edge software to 
                                 design and deliver the best solutions to our customers for their secondary packaging and automation 
                                 process challenges.</p>
                  </div>
                  <div class="s-12 m-6 l-3 margin-bottom">
                     <i class="icon-sli-shield icon2x"></i>
                     <h3 style="color:#2C3E50"><b>Company</b></h3>
                     <p  style="color:white;font-size:100%;">the best  solutions to our respected clients as per their requirement. 
                              Enhancing the manufacturing efficiency of our clients with our 
                              Start to End Automation solution is SinCos primary objective</p>
                  </div>
                  <div class="s-12 m-6 l-3 margin-bottom">
                     <i class="icon-sli-puzzle icon2x"></i>
                     <h3 style="color:#2C3E50"><b>Services</b></h3>
                     <p  style="color:white;font-size:100%;"> SinCos provides design consultancy to engineering firms. With our experienced 
                     and creative design engineers we provide A to Z solution to our partners companies.
                      Beyond this SinCos help to our industry partners to set up own different type of machines manufacturing plant. </p>
                  </div>
                  <div class="s-12 m-6 l-3 margin-bottom">
                     <i class="icon-sli-globe-alt icon2x"></i>
                     <h3 style="color:#2C3E50"><b>Contact</b></h3>
                     <p  style="color:white;font-size:100%;">Packtronic Packaging And Automation Private Limited116 
                     Ecotech 3, Udyog Vihar 2, Near By Surajpur, Gautam Buddha Nagar,
                     Greater Noida-201310, Uttar Pradesh, India</p>
                  </div>
               </div>
            </div>
         </div>
         <!-- SECOND BLOCK --> 	
         <div id="second-block">
            <div class="line">
               <div class="margin-bottom">
                  <div class="margin">
                     <article class="s-12 l-8 center">
                        <h1>Automation Process and Packaging</h1>
                        <p class="margin-bottom">Automation is the creation of technology and its application in order to control and monitor the production and delivery of various goods and services. It performs tasks that were previously performed by humans.
                        </p>
                        <a class="button rounded-btn submit-btn s-12 l-4 center" href="/about">Read more</a>  			
                     </article>
                  </div>
               </div>
            </div>
         </div>
      </section>

   {% endblock %}