{% extends 'productbase.html' %}

{% load static %}

{% block content %}


<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 {
  width: 100%;    
  background-color: #f1f1c1;
  margin-left:70px;
}
</style>

<div class="spacer" style=" height:100px;"></div>

<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="eight wide column">
				
				<h3 class="ui huge header" style="margin-left:70px;">Cartoining System-</h3>
				<h4 class="ui huge header" style="margin-left:70px;">Application:</h4><br>
				<p style="margin-left:70px;"><font size="3">Automatic Cartoning Machine Consists of:</font></p>

									<p style="margin-left:70px;"><font size="3"> 1. Product checking.</font></p>
									<p style="margin-left:70px;"><font size="3"> 2. Carton picks - up.</font></p>
									<p style="margin-left:70px;"><font size="3"> 3. Code embossing.</font></p>
									<p style="margin-left:70px;"><font size="3"> 4. Carton erection by the knife blade.</font></p>
									<p style="margin-left:70px;"><font size="3"> 5. Leaflet pick - up.</font></p>
									<p style="margin-left:70px;"><font size="3"> 6. Product insert.</font></p>
									<p style="margin-left:70px;"><font size="3"> 7. Carton closure.</font></p>
				<h4 class="ui huge header" style="margin-left:70px;">Suited to handle such items:</h4><br>

									<p style="margin-left:70px;"><font size="3">1. Tubes</font></p>
									<p style="margin-left:70px;"><font size="3">2. Blister strips.</font></p>
									<p style="margin-left:70px;"><font size="3">3. Bottles.</font></p>
									<p style="margin-left:70px;"><font size="3">4. Vials.</font></p>
									<p style="margin-left:70px;"><font size="3">5. Ampoules.</font></p>
									<p style="margin-left:70px;"><font size="3">6. Droppers.</font></p>
									<p style="margin-left:70px;"><font size="3">7. Inhalers.</font></p>
									<p style="margin-left:70px;"><font size="3">8. Film rolls.</font></p>
									<p style="margin-left:70px;"><font size="3">9. Bearings.</font></p>
									<p style="margin-left:70px;"><font size="3">10. Soaps and many other products falling within the wide range of the machine either individually or in combination.</font></p>

<h4 class="ui huge header" style="margin-left:70px;">Product Specifications</h4><br>
				<p style="margin-left:70px;"><font size="3">Automatic Cartoning Machine draws the carton from a magazine opens the carton, Inserts product and closes the carton by tucking in the flaps.
						Product Infeed Custom built the automatic product infeed systems can be made available to suit your specific needs.
						Product infeed systems help you in linking the Cartoner to your packaging/production line enabling you to automate the transfer of the product from Tube Filling Machine to the Cartoner.
						Carton In-feed Oscillating suction pads extract the flat folded cartons from the magazine and open them. The tension in the carton is released by breaking back the fold before the tamper pushes it between the chain carrying fingers.
						Mechanical side-flap openers, open the side flaps physically during the positioning of the carton in the carton chain.
						Loading Continuous motion barrel loader pushers run alongside the product chain and push the product safely into the open carton.
						If the carton is missing, the product will not be loaded.
						An overload safety feature will stop the machine if a fault occurs during loading.
						Closure: Two types of closing systems are provided, a tuck in system, and a glue application system.
						Discharge: belts carry the completed pack safely out of the machine.
						Leaflet insertion: An automatic insertion of pre-folded leaflets is also possible with a leaflet pre-insertion device.</font></p>
			
				
			</div>
			
			<div class="six wide right floated column">
				<img src="{% static 'img/products/Primarypackaging/p11.png' %}" class="ui medium centered fluid image" style="width:500px;height:600px;"/>
			</div>
		    <div class="container">
            	<table id="t01">
					<tr>
						<th>Automation Grade</th>
						<th>Automatic</th> 

					</tr>
					<tr>
						<td>Compressed Air</td>
						<td>1.0 KG/CM2</td>

					</tr>
					<tr>
						<td>Capacity</td>
						<td>120 packs per minute.</td>

					</tr>
					<tr>
						<td>Power Consumption</td>
						<td>230 V 380 to 415 v, 1.5 KW (3 Phase) 6.0 KW (Single)</td>
					</tr>
				   
				</table>
			</div>

		</div>
		
		<div class="row">
		</div>
	
<div class="spacer"></div>

{% endblock %}