{% extends 'productbase.html' %}

{% load static %}

{% block content %}


<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="spacer" style=" height:100px;"></div>

<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="eight wide column">

				<h1 class="ui huge header" style="margin-left:70px;">CT(Collar Type)</h1>
				<h4 class="ui huge header" style="margin-left:70px;">Product Description</h4><br>
				<p style="margin-left:70px;"><font size="3">Since our origin, we are instrumental in offering 
				premium quality Collar Type Pouch Packing Machine.
				</font></p>
				
				<h4 class="ui huge header" style="margin-left:70px;">Features:</h4><br>
				<p style="margin-left:70px;"><font size="4">• Sturdy design.</font></p><br>
				<p style="margin-left:70px;"><font size="4">• Optimum performance,</font></p><br>
				<p style="margin-left:70px;"><font size="4">• Long service life</font></p><br>
				
 

				
				

				
			</div>
			
			<div class="six wide right floated column">
				<img src="{% static 'img/products/Primarypackaging/p2.jpg' %}" class="ui medium centered fluid image" style="width:500px;height:600px;"/>
			</div>
		
		</div>
		
		<div class="row">
		</div>
	
<div class="spacer"></div>

{% endblock %}