{% extends 'productbase.html' %}

{% load static %}

{% block content %}


<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="spacer" style=" height:100px;"></div>

<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="eight wide column">
				
				<h1 class="ui huge header" style="margin-left:70px;">Carton Erector</h1>
				<h4 class="ui huge header" style="margin-left:70px;">Product Description</h4><br>
				<p style="margin-left:70px;"><font size="3">This machine is used to automatically erect case and seal 
				the bottom of the case with pressure-sensitive adhesive tape like PVC and BOPP. It is used to
				 shape the case of regular shape. Our company can customize case erector according to customers’ 
				 requirements to satisfy different needs. The machine has wide applications in the industry of food, 
				 chemical fiber, tobacco redrying, pharmacy, publish, air conditioning, household appliance, ceramics, 
				 hot work and so on.Our company can drafts the national standard of case erector in China and has years 
				 of experience in manufacturing case erector machines. The quality of all materials used and the high
				  technical standards for all mechanical and electronic components combined with highly efficient and
				   precise assembling and testing procedures lead to high performance, safe and durable products..</font></p>
				
				<h4 class="ui huge header" style="margin-left:70px;">Machine features:</h4><br>
				<p style="margin-left:70px;"><font size="4">• The sealing head can be took out easily to equip the new Tape the processing of machine is robust</font></p><br>
				<p style="margin-left:70px;"><font size="4">• This case erector is suitable for a lot of different carton size Adjustment can be finished by handle Alarm, if the carton magazine is empty</font></p><br>
				<p style="margin-left:70px;"><font size="4">• High efficiency and energy saving</font></p><br>
				<p style="margin-left:70px;"><font size="4">• Easy maintenance</font></p><br>
 

			</div>
			
			<div class="six wide right floated column">
				<img src="{% static 'img/products/Primarypackaging/p5.jpg' %}" class="ui medium centered fluid image" style="width:500px;height:600px;"/>
			</div>

            <div class="eight wide column">
				
				<h4 class="ui huge header" style="margin-left:70px;">Machine features:</h4><br>
				<p style="margin-left:70px;"><font size="4">• The sealing head can be took out easily to equip the new Tape the processing of machine is robust</font></p><br>
				<p style="margin-left:70px;"><font size="4">• This case erector is suitable for a lot of different carton size Adjustment can be finished by handle Alarm, if the carton magazine is empty</font></p><br>
				<p style="margin-left:70px;"><font size="4">• High efficiency and energy saving</font></p><br>
				<p style="margin-left:70px;"><font size="4">• Easy maintenance</font></p><br>
 

				<h4 class="ui huge header" style="margin-left:70px;">Basic information</h4><br>
				<p  style="margin-left:70px;"><font size="4">• Power supply:   1P 220V/50HZ, 500W 0.4KW.</font></p><br>
				<p  style="margin-left:70px;"><font size="4">• Protective power supply: IP54</font></p><br>
				<p  style="margin-left:70px;"><font size="4">• Air pressure: ≥6Kgf/cm²</font></p><br>
				<h4 class="ui huge header" style="margin-left:70px;">Case size: provide by</h4><br>
				<p  style="margin-left:70px;"><font size="4">• Adhesive tape: draft paper tape , BOPP adhesive tape</font></p><br>
				<p  style="margin-left:70px;"><font size="4">• Tape size: 48-72mm</font></p><br>

                <p  style="margin-left:70px;"><font size="4">• Erecting speed: ≤12 carton/min</font></p><br>
				<p  style="margin-left:70px;"><font size="4">• Worktable height:    650mm (standard) – max.1000mm (customer-made)</font></p><br>
				<p  style="margin-left:70px;"><font size="4">• Production efficiency: ≥95%</font></p><br>
				<h4 class="ui huge header" style="margin-left:70px;">Dimensions: L2425×W1855×H1300mm (standard machine)</h4><br>
				<p  style="margin-left:70px;"><font size="4">• Lose of case: 1%</font></p><br>
				<p  style="margin-left:70px;"><font size="4">• Machine configuration:       Simens PLC / “ Youngsun”( Standard)  touch screen / Schneider</font></p><br>


               <p  style="margin-left:70px;"><font size="4">• Contactor / “Delta” switch power supply / Luson motor /  P+F sensor / Airtac </font></p><br>
				<p  style="margin-left:70px;"><font size="4">• Cylinder / “SMC” vacuum generator / “Youngsun”  suction cup</font></p><br>
				<p  style="margin-left:70px;"><font size="4">• Noise: ≤75DB</font></p><br>
				<h4 class="ui huge header" style="margin-left:70px;">Environment: Humidity ≤ 98%, Temperature -10-40oC</h4><br>
				<p  style="margin-left:70px;"><font size="4">• Packing size: L 2500 x W1220 x H1750mm</font></p><br>
				
				<h4 class="ui huge header" style="margin-left:70px;">Working process:</h4><br>
				<p style="margin-left:70px;"><font size="4">• Open the case with pneumatic component.</font></p><br>
				<p style="margin-left:70px;"><font size="4">• Fold front and rear covers of carton</font></p><br>
				<p style="margin-left:70px;"><font size="4">• Fold left and right covers of carton</font></p><br>
				<p style="margin-left:70px;"><font size="4">• Seal it with tape output</font></p><br>

			</div>
					
		</div>
		
		<div class="row">
		</div>
	
<div class="spacer"></div>

{% endblock %}