{% extends 'productbase.html' %}

{% load static %}

{% block content %}


<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="spacer" style=" height:100px;"></div>

<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="eight wide column">
				
				<h1 class="ui huge header" style="margin-left:70px;">FSS(Form Fill Seal)</h1>
				<h4 class="ui huge header" style="margin-left:70px;">Product Description</h4><br>
				<p style="margin-left:70px;"><font size="3">Owing to our expertise in this domain, we have been able to provide the 
							customers with a commendable assortment of Vertical Form Fill Seal Machine. The offered range 
							is manufactured in tandem with the international quality standards using superior grade
							raw material, advent tools and sophisticated technology. Extensively used in diverse industrial
							applications for packaging purposes, the range is widely acclaimed by the clients for 
							efficiency, excellent performance, corrosion resistance, perfect finish and robust 
							construction.</font></p>
				
				<h4 class="ui huge header" style="margin-left:70px;">Applications:</h4><br>
				<p style="margin-left:70px;"><font size="4">• Powders like Spices, Coffee, Tea, Glucose,Sugar.</font></p><br>
				<p style="margin-left:70px;"><font size="4">• Pharmaceutical Powders, Tooth Powder, Flour,</font></p><br>
				<p style="margin-left:70px;"><font size="4">• Juice Powder, Granules like Tea, Whole spices, Wheat, Rice, Dal</font></p><br>
				<p style="margin-left:70px;"><font size="4">• Sugar, etc. Potato Chips, Kurkure, Snacks, Shortcut vermicelli, Irregular shape products</font></p><br>
 

				<h4 class="ui huge header" style="margin-left:70px;">Specifications:</h4><br>
				<p  style="margin-left:70px;"><font size="4">• Range: 10-1000 gms, .</font></p><br>
				<p  style="margin-left:70px;"><font size="4">• Speed: 25-300 packets / min</font></p><br>
				<p  style="margin-left:70px;"><font size="4">• Accuracy: + or – 1%</font></p><br>
				<p  style="margin-left:70px;"><font size="4">• Power: 1.5 to 3 KW (depends on feeding method)</font></p><br>
				<p  style="margin-left:70px;"><font size="4">• Air requirement: 6 Kg / sq. cm, 0.2 – 0.3 cu.m / min</font></p><br>

				
			</div>
			
			<div class="six wide right floated column">
				<img src="{% static 'img/products/Primarypackaging/p1.jpeg' %}" class="ui medium centered fluid image" style="width:500px;height:600px;"/>
			</div>
		
		</div>
		
		<div class="row">
		</div>
	
<div class="spacer"></div>

{% endblock %}