{% extends 'base.html' %}

{% load static %}

{% block content %}
      
      <section>
         <div id="head">
            <div class="line">
               <h1>AUTOMATION PRODUCTS</h1>
            </div>
         </div>
         <div id="content">
            <div class="line">
               <div class"margin">
                   
                   <div class="s-12 m-6 l-4">
                     <img src="{% static 'img/products/Primarypackaging/p5.jpg' %}">      
                     <h5 class="subtitile"><b><a href="/machine4">Carton Erector</a></b></h5>
                       <p class="subtitile" style="color:#400000 "><b>This machine is used to automatically erect case and seal 
				the bottom of the case with pressure-sensitive adhesive tape like PVC and BOPP. It is used to
				 shape the case of regular shape. Our company can customize case erector according to customers’ 
				 requirements to satisfy different needs
                      </b></p>
                   </div>
                   
                   <div class="s-12 m-6 l-4">
                      <img src="{% static 'img/products/Primarypackaging/p4.jpg' %}">      
                      <h5 class="subtitile"><b><a href="/machine5">Tapping System</a></b>
                      </h5>
                       <p class="subtitile" style="color:#400000 "><b>The machine is highly automated with PLC controlled
                                                                     Carton Sealing and Strapping in single go
                                                                     Can synchronized with auto packaging line
                      </b></p>
                   </div>
                   
                   <div class="s-12 m-6 l-4">
                      <img src="{% static 'img/products/Primarypackaging/p6.jpg' %}">      
                      <h5 class="subtitile"><b><a href="/machine6">Check Weigher</a></b>
                      </h5>
                       <p class="subtitile" style="color:#400000 "><b>Applied to automatic online package weighing and sorting
                       Strong stainless steel structure; Water proof design.
                       High precision digital load cell; adopt high-speed digital fitering processing technology
                       Automatic zero tracking
                      </b></p>
                   </div>
                   
                   <div class="s-12 m-6 l-4">
                      <img src="{% static 'img/products/Primarypackaging/p7.jpg' %}">      
                     <h5 class="subtitile"><b><a href="/machine7">Material Conveying System</a></b>
                      </h5>
                       <p class="subtitile" style="color:#400000 "><b>SinCos Material conveying systems for bulk material containers 
				               and packaging are critical to the effective transfer of material during production operations
                      </b></p>
                   </div>
                   
                   <div class="s-12 m-6 l-4">
                      <img src="{% static 'img/products/Primarypackaging/p8.jpg' %}">      
                      <h5 class="subtitile"><b><a href="/machine8">Palletizing system-</a></b>
                      </h5>
                       <p class="subtitile" style="color:#400000 "><b>This machine combines high speed bag handling 
                                       efficiency with floor level operation, for a versatile and economical palletizing solution. 
                                       It runs industrial-sized bags of agricultural.
                      </b></p>
                   </div>
               
               </div>
            </div>
         </div>
      </section>

      {% endblock %}
      