{% extends 'base.html' %}

{% load static %}

{% block content %}
      
      <section>
         <div id="head">
            <div class="line">
               <h1>AUTOMATION PRODUCTS</h1>
            </div>
         </div>
         <div id="content">
            <div class="line">
               <div class="margin">
                   <div class="s-12 m-6 l-4">
                     
                      <img src="{% static 'img/products/Primarypackaging/p1.jpeg' %}">      
                      <h5 class="subtitile"><b><a href="/">FSS(Form Fill Seal)</a></b>
                      </h5>
                      <p class="subtitile" style="color:#400000 "><b>Owing to our expertise in this domain, we have been able to
                                             provide the customers with a
                                             commendable assortment of Vertical Form Fill Seal Machine.</b>
                      </p>
                   </div>
                   
                   <div class="s-12 m-6 l-4">
                      <img src="{% static 'img/products/Primarypackaging/p2.jpg' %}">      
                      <h5 class="subtitile"><b><a href="/">CT(Collar Type)</a></b>
                      </h5>
                      <p class="subtitile" style="color:#400000 "><b>Since our origin, we are instrumental in offering premium 
                                          quality Collar Type Pouch Packing
                                          Machine.</b>
                      </p>
                   </div>
                   <div class="s-12 m-6 l-4">
                      <img src="{% static 'img/products/Primarypackaging/p3.jpg' %}">      
                      <h5 class="subtitile"><b><a href="/">FW(Flow Wrap)</a></b>
                      </h5>
                      <p class="subtitile" style="color:#400000 "><b>The offered range is
                                 manufactured in tandem with the international quality standards using superior grade raw
                                 material, advent tools and sophisticated technology.</b>
                      </p>
                   </div>
               </div>
            </div>
         </div>
      </section>

      {% endblock %}
      