{% extends 'base.html' %}

{%load static %}

{% block content %}
      <section>
         <div id="head">
            <div class="line">
               <h1>Our Amazing Services </h1>
            </div>
         </div>
         <div id="content">
            <div class="line">
               <div class="margin">
                  <div class="s-12 m-6 l-6">
                     <div class="content-block margin-bottom">
                        <i class="icon-paperplane_ico icon2x"></i>
                        <h3>Automate</h3>
                        <p>we have a services and maintenance team of rich experienced 
                        engineers and technicians, we are willing to serve you better.
                        SinCos is committed to after sales service as long as the machines are with our esteemed 
                        customer. We are committed to our unfailing after sales support, at all levels.
                       
                        </p>
                     </div>
                  </div>
                  <div class="s-12 m-6 l-6">
                     <div class="content-block margin-bottom">
                        <i class="icon-display_screen icon2x"></i>
                        <h3>Machinery</h3>
                        <p> At SinCos we are here to solve your production problems with cost effective 
                        manner with our AI rich automation algorithms. we provided machine learning driven 
                        automation, which make your work too faster than manually.  In other words we provide 
                        full automate solutions to  our valuable clients.
   
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- GALLERY -->	
         <div id="third-block">
            <div class="line">
               <h2>Service Images</h2>
               <div class="margin">
                  <div class="s-12 m-6 l-6">
                     <img src="{% static 'img/services1.jpg' %}">      
                     <p class="subtitile">WE ARE not here for only sales also we are dedicated  TO KEEP a healthy relation with our clients by our 24*7 helpline. our engineers always ready to go for services YOUR MACHINES & systems, because your business has value for us
                     </p>
                  </div>
                  <div class="s-12 m-6 l-6">
                     <img src="{% static 'img/services2.jpg' %}">      
                     <p class="subtitile"> At SinCos we are here to solve your production problems with cost effective manner with our AI rich automation algorithms. we provided machine learning driven automation, which make your work too faster than manually.
                     </p>
                  </div>
               
               </div>
            </div>
         </div>
      </section>

      {% endblock %}